
.vs/VSWorkspaceState.json
Employ/Employ/obj/project.nuget.cache
*.cache
Employ/Employ/obj/Debug/net6.0/Employ.csproj.FileListAbsolute.txt
Employ/Employ/obj/Debug/net6.0/Employ.dll
Employ/Employ/obj/Debug/net6.0/Employ.GeneratedMSBuildEditorConfig.editorconfig
Employ/Employ/obj/Debug/net6.0/Employ.MvcApplicationPartsAssemblyInfo.cs
Employ/Employ/obj/Debug/net6.0/Employ.GlobalUsings.g.cs
Employ/Employ/obj/Debug/net6.0/ref/Employ.API.dll
Employ/Employ/obj/Debug/net6.0/Employ.pdb
Employ/Employ/obj/Debug/net6.0/ref/Employ.dll
Employ/Employ/obj/Debug/net6.0/refint/Employ.API.dll
Employ/Employ/obj/Debug/net6.0/refint/Employ.dll
Employ/Employ/obj/Debug/net6.0/staticwebassets/msbuild.build.Employ.API.props
Employ/Employ/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.Employ.API.props
Employ/Employ/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.Employ.API.props
Employ/Employ/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.Employ.props
Employ/Employ/obj/Debug/net6.0/staticwebassets/msbuild.build.Employ.props
Employ/Employ/obj/Debug/net6.0/staticwebassets.build.json
Employ/Employ/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.Employ.props
Employ/Employ/obj/Debug/net6.0/Employ.csproj.CopyComplete
Employ/Employ/obj/Debug/net6.0/Employ.csproj.BuildWithSkipAnalyzers
Employ/Employ/obj/Debug/net6.0/Employ.AssemblyInfo.cs
Employ/Employ/obj/Debug/net6.0/Employ.API.pdb
Employ/Employ/obj/Debug/net6.0/Employ.API.MvcApplicationPartsAssemblyInfo.cs
Employ/Employ/obj/Debug/net6.0/Employ.API.GlobalUsings.g.cs
Employ/Employ/obj/Debug/net6.0/Employ.API.GeneratedMSBuildEditorConfig.editorconfig
Employ/Employ/obj/Debug/net6.0/Employ.API.dll
Employ/Employ/obj/Debug/net6.0/Employ.API.csproj.FileListAbsolute.txt
Employ/Employ/obj/Debug/net6.0/Employ.API.csproj.CopyComplete
Employ/Employ/obj/Debug/net6.0/Employ.API.csproj.BuildWithSkipAnalyzers
Employ/Employ/obj/Debug/net6.0/Employ.API.AssemblyInfo.cs
Employ/Employ/obj/Debug/net6.0/apphost.exe
Employ/Employ/obj/Debug/net6.0/_IsIncrementalBuild
Employ/Employ/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Employ/Employ/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
Employ/Employ/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
Employ/Employ/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
Employ/Employ/bin/Debug/net6.0/Microsoft.OpenApi.dll
Employ/Employ/bin/Debug/net6.0/Employ.runtimeconfig.json
Employ/Employ/bin/Debug/net6.0/Employ.pdb
Employ/Employ/bin/Debug/net6.0/Employ.exe
Employ/Employ/bin/Debug/net6.0/Employ.dll
Employ/.vs/Employ/v17/.suo
.vs/EmployAPI/FileContentIndex/86c42021-f45e-407a-859d-836b57fe7766.vsidx
.vs/EmployAPI/FileContentIndex/read.lock
.vs/EmployAPI/v17/.wsuo
.vs/slnx.sqlite
Employ/.vs/Employ/FileContentIndex/read.lock
